.nav-bar {
    display: inline-block;
    padding: 30pt;
    width: 100%;
    background-color: #327a6f;
    position: relative;
}

ul.nav {
    padding: 0;
    margin: 0;
    width: auto;
    list-style:none;
    white-space: nowrap;
}

ul.nav>li{
    display: inline-block;
    margin-right: 15pt;
}

ul.nav:not(:last-child)
{
    margin-right: 100pt;
}

ul.nav a {
    color: #f7b733;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    transition: border 0.3s, color 0.3s;
}

ul.nav a:hover, ul.nav a:focus  {
    color: white;
    border-bottom: 3px solid white;
}

ul.nav li.selected a {
    color: white;
}